@font-face {
    font-family: 'Arial';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Arial.ttf');
}
@font-face {
    font-family: 'Arial';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/Arial_Itallic.ttf');
}
@font-face {
    font-family: 'Georgia';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Georgia_regular.ttf');
}
@font-face {
    font-family: 'Georgia';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Georgia_Bold.ttf');
}